* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: #24252a;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.2s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 10px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.team {
    margin: 20px 10px;
}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    margin: 20px;
}

footer {
    height: fit-content;
}

footer p {
    padding: 30px;
    color: #edf0f1;
    background-color: #24252a;
    margin: 0;
}